
.side-bare{
  width: 25%;
  background-color: #222322;
  border-radius: 12px;
  margin:16px 0px 16px 16px;
  display: flex;
  flex-direction: column;
}

.side-bare .btn .pic{
  width: 40px;
  height: 40px;
}

.side-bare .btn{
  width: 90%;
  height: 70px;
  background-color: blueviolet;
  margin: 2px auto;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  gap:10px;
  display: flex;
  padding-left: 10px;
  align-items: center;
}
